<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="blog/header::head-fragment('Blog-归档','archives')">
</head>
<body>

<!--导航-->
<nav th:replace="blog/header::nav-fragment(4)"></nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin"> 114 </h2> 篇博客
                </div>
            </div>
        </div>

        <h3 class="ui center aligned header">2017</h3>
        <div class="ui fluid vertical menu">
            <a href="#"  class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">9月03</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#"  class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">9月03</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#"  class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">9月03</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#"  class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">9月03</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
        </div>

        <h3 class="ui center aligned header">2016</h3>
        <div class="ui fluid vertical menu">
            <a href="#"  class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">9月03</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#"  class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">9月03</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#"  class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">9月03</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#"  class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">9月03</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
        </div>


    </div>
</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="blog/footer::footer-fragment"></footer>

<!--jQuery-->
<script src="/js/jquery-2.2.3.min.js"></script>
<!--Semantic-->
<script src="/js/semantic.min.js"></script>

<script>


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>