<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="blog/header::head-fragment('Blog-拓展','expand')">

</head>
<body>

<!--导航-->
<nav th:replace="blog/header::nav-fragment(6)"></nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">

        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="/images/1007.jpg" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <h3 class="ui teal header">拓展...</h3>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">后续还有很多待开发的功能，请耐心等候...</p>
                    <p class="m-text">如果你有什么好的建议，请主动联系我...</p>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="1596736515"
                       data-position="bottom center"><i class="qq icon"></i></a>
                </div>
                <div class="ui wechat-qr flowing popup transition hidden">
                    <img src="/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
                </div>
            </div>
        </div>

    </div>
</div>


<!--底部footer-->
<footer th:replace="blog/footer::footer-fragment"></footer>

<!--jQuery-->
<script src="/js/jquery-2.2.3.min.js"></script>
<!--Semantic-->
<script src="/js/semantic.min.js"></script>

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();
</script>
</body>
</html>